.identify {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial", "Arial"; TEXT-DECORATION: none
}
.copy {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial", "Arial"; TEXT-DECORATION: none
}
A {
	FONT-SIZE: 9pt; COLOR: red; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.update {
	FONT-SIZE: 9pt; COLOR: #000066; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
A.update:link {
	FONT-SIZE: 9pt; COLOR: #000066; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
A.update:hover {
	FONT-SIZE: 9pt; COLOR: #800080; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: underline
}
A.update:active {
	FONT-SIZE: 9pt; COLOR: #022f75; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.user {
	FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.pagenavi {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: "Arial"; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.pagenavi2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #666666; FONT-FAMILY: "Arial"; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: right; TEXT-DECORATION: none
}
A.pagenavi:link {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #414141; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
A.pagenavi:hover {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #414141; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: underline
}
A.pagenavi:active {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #414141; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.mainmenu {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "Arial"; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.menu2 {
	FONT-SIZE: 9pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "Arial"
}
.head {
	BACKGROUND-COLOR: #414c79
}
.maintext {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #445d2e; FONT-FAMILY: "Arial", "Arial"; HEIGHT: 25px; BACKGROUND-COLOR: #ffffff
}
.help {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #024b54; FONT-STYLE: normal; FONT-FAMILY: "Arial"; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.quickmenu {
	FONT-WEIGHT: bold; FONT-SIZE: 8pt; COLOR: #000000; FONT-STYLE: normal; FONT-FAMILY: "??"; FONT-VARIANT: normal; TEXT-DECORATION: none
}
.menuButton {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #ffffff; FONT-FAMILY: "Arial", "Arial"
}
.buttonarea {
	BACKGROUND-COLOR: #f6f6f6
}
.gubunline {
	BORDER-RIGHT: #808080 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid; HEIGHT: 2px; BACKGROUND-COLOR: #9fcd60
}
.menu_gubunline {
	HEIGHT: 1px; BACKGROUND-COLOR: #000000
}
.outline {
	BORDER-RIGHT: #d7d8d5 1px solid; BORDER-TOP: #2fabb7 1px solid; BORDER-LEFT: #d7d8d5 1px solid; BORDER-BOTTOM: #d7d8d5 1px solid; BACKGROUND-COLOR: #999999
}
.search_bar {
	HEIGHT: 2px; BACKGROUND-COLOR: #2fabb7
}
.input_bar {
	HEIGHT: 2px; BACKGROUND-COLOR: #4689d9
}
.list_bar {
	HEIGHT: 2px; BACKGROUND-COLOR: #0b5a83
}
.logininfo {
	FONT-SIZE: 9pt; COLOR: #024b54; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.titlebg {
	BORDER-RIGHT: #ffffff 1px solid; BORDER-TOP: #ffffff 0px solid; FONT: bold 9pt "Arial"; BORDER-LEFT: #ffffff 1px solid; COLOR: #ffffff; BORDER-BOTTOM: #ffffff 1px solid; HEIGHT: 8px; BACKGROUND-COLOR: #002f75
}
A.tablink:link {
	FONT-SIZE: 9pt; COLOR: #002f75; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
A.tablink:hover {
	FONT-SIZE: 9pt; COLOR: #002f75; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: underline
}
A.tablink:active {
	FONT-SIZE: 9pt; COLOR: #002f75; LINE-HEIGHT: 13pt; FONT-FAMILY: "Arial"; TEXT-DECORATION: none
}
.rst {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #4c4c4c; FONT-FAMILY: "Arial"; BACKGROUND-COLOR: #f7f7f2; TEXT-DECORATION: none
}
.rsthdl {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: #ecf2f9; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.rsthd {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: #ecf2f9; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.rst1 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.rst1l {
	FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left
}
.rst1r {
	FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right
}
.fileinfo {
	FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.listtitle {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; HEIGHT: 22px; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.dblisttitle {
	FONT-WEIGHT: normal; FONT-SIZE: 9pt; COLOR: #414141; FONT-FAMILY: "Arial"; HEIGHT: 18px; BACKGROUND-COLOR: #efefef; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.listl1 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.dblistl1 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.listl2 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 22px; BACKGROUND-COLOR: #f1fbfc; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.dblistl2 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 18px; BACKGROUND-COLOR: #f1fbfc; TEXT-ALIGN: left; TEXT-DECORATION: none
}
.listc1 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.dblistc1 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.listc2 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 22px; BACKGROUND-COLOR: #f1fbfc; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.dblistc2 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 18px; BACKGROUND-COLOR: #f1fbfc; TEXT-ALIGN: center; TEXT-DECORATION: none
}
.listr1 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 22px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.dblistr1 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 18px; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.listr2 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 22px; BACKGROUND-COLOR: #f1fbfc; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.dblistr2 {
	FONT: 9pt "Arial"; COLOR: #414141; HEIGHT: 18px; BACKGROUND-COLOR: #f1fbfc; TEXT-ALIGN: right; TEXT-DECORATION: none
}
.required {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(required04.gif); BACKGROUND-REPEAT: no-repeat
}
.right {
	TEXT-ALIGN: right
}
.viewtext {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; BORDER-BOTTOM-STYLE: none
}
.viewtext_center {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: center; BORDER-BOTTOM-STYLE: none
}
.viewtext_right {
	BORDER-TOP-STYLE: none; BORDER-RIGHT-STYLE: none; BORDER-LEFT-STYLE: none; BACKGROUND-COLOR: #ffffff; TEXT-ALIGN: right; BORDER-BOTTOM-STYLE: none
}
.required_right {
	BACKGROUND-POSITION: right top; BACKGROUND-IMAGE: url(required04.gif); BACKGROUND-REPEAT: no-repeat; TEXT-ALIGN: right
}
.tabselect {
	FONT-SIZE: 9pt; FONT-FAMILY: "Arial"
}
.tabselect A {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: medium none; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; HEIGHT: 100%; BACKGROUND-COLOR: #d2d6e1; TEXT-DECORATION: none
}
.tabselect A:hover {
	COLOR: white; BACKGROUND-COLOR: #8d9790; TEXT-DECORATION: none
}
.tabdefault {
	FONT-SIZE: 9pt; FONT-FAMILY: "Arial"
}
.tabdefault A {
	BORDER-RIGHT: medium none; PADDING-RIGHT: 3px; BORDER-TOP: medium none; DISPLAY: block; PADDING-LEFT: 3px; FONT-WEIGHT: normal; PADDING-BOTTOM: 3px; MARGIN: 0px; BORDER-LEFT: medium none; WIDTH: 100%; COLOR: #000000; PADDING-TOP: 3px; BORDER-BOTTOM: medium none; HEIGHT: 100%; BACKGROUND-COLOR: #e3e3e3; TEXT-DECORATION: none
}
.tabdefault A:hover {
	COLOR: white; BACKGROUND-COLOR: #8d9790; TEXT-DECORATION: none
}
.tab {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Verdana", "??"
}
.tab A:link {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab A:visited {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab A:active {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab A:hover {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab_disabled {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #b5b5b5; FONT-FAMILY: "Verdana", "??"
}
.tab {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: "Verdana", "??"
}
.tab A:link {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab A:visited {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab A:active {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab A:hover {
	COLOR: #728090; TEXT-DECORATION: none
}
.tab_disabled {
	FONT-WEIGHT: bold; FONT-SIZE: 11px; COLOR: #b5b5b5; FONT-FAMILY: "Verdana", "??"
}
